body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffc851;
}

.magnify-content{
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    cursor: zoom-in;
    border: 1px solid #ccc;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.5)
    -1opx -10px 15px rgba(0, 0, 0, 0.15);
}

.magnify-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.magnify-glass{
    position: absolute;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: none;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.magnify-container:hover .magnify-glass{
    opacity: 1;
}

.magnify-content:hover img{
    transform: scale(1.2);
}